---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Variables
$base-font-family: "Montserrat", Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 30px;

$icon-font-size:	24px;

$font-weight-light:		300;
$font-weight-regular:	400;
$font-weight-semi-bold:	600;

$spacing-unit:     30px;

$text-color:       #6C6C6C;
$background-color: #FAFAFA;
$brand-color:      #FF6F6F;
$link-color:		#FF6F6F;
$link-hover-color:	#000;

$title-color:	   #242424;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$dark-grey-color:	#29292D;

$soap-color: #736CED;
$champagne-pink-color: #F2DFD7;
$maximum-blue-purple: #9F9FED;
$medium-slate-blue: #736CED;
$white-color: #FEF9FF;



// Styles
body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $text-color;
	background-color: $background-color;
	line-height: $base-line-height;
	font-weight: $font-weight-light;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 40px;
}

h2 {
	font-size: $base-font-size;
	color: $title-color;
	text-transform: uppercase;
	line-height: $base-line-height;
	font-weight: $font-weight-regular;
}

h3 {
	font-size: $base-font-size;
	color: $title-color;
	line-height: $base-line-height;
	font-weight: $font-weight-light;
}

h5 a {
  color: $grey-color;
  font-size: 16px;
}

a {
	color: $medium-slate-blue;
}

a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

table p {
  padding: 0;
  margin-bottom: 0;
}

td {
  vertical-align: top;
}

table td span {
  font-size: 12px;
}

.btn-primary {
  background-color: $brand-color;
  border-color: $brand-color;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #000;
}

.reservations {
	background-color: $brand-color;
}

.reservations h2{
	color: #FFF;
}

.reservations-form { 
  background-color: rgba(0,0,0,0);
  border-color: #fff;
  border-width: 1px;
  color: #FFF;
}

.form-control {
  font-family: $base-font-family;
  margin-bottom: 20px;
}

.form-control:focus {
  background-color: rgba(0,0,0,0);
  border-color: #000;
  color: #000;
}

.form-control::placeholder {
  font-size: 12px;
  line-height: 22px;
  font-weight: $font-weight-light;
  text-transform: uppercase;
}

.reservations-form::placeholder { 
  color: #fff;
  opacity: 0.8;
}


.reservations-form:focus::placeholder {
  color: #000;
}

footer {
	background-color: $medium-slate-blue;
	margin-top: 40px;
	padding-top: 60px;
	padding-bottom: 40px;
  color: $white-color;
}

footer h2 {
  font-size: 14px;
  color: $white-color;
}

footer p{
	font-size: 12px;
}

footer a{
  font-size: 12px;
  color: $white-color;
}

footer ul {
display: block;
list-style-type: none;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

footer p {
  margin-bottom: 0;
}

input {
  width: 100%;
}


.wrap {
  width: 100%;
}

.reviewer {
	color: $brand-color;
}

.btn {
	font-family: $base-font-family;
	font-size: $base-font-size;
	cursor: pointer;
}

.btn-default {
	color: #FFF;
	background-color: $brand-color;
}

.reservations a{
  color: #FFF;
}

.reservations a:hover {
  color: #000;
}

.btn-reservations {
  background-color: #fff;
  color: $brand-color;
  text-transform: uppercase;
}

.btn-reservations:hover {
  opacity: 0.8;
}

[class^="icon-"], [class*=" icon-"] {
	font-size: 14px;
	padding-right: 10px;
}

.social ul {
	float: center;
	text-align: center;
}

.social li {
	float: left;
	position: relative;
	display: block;
	padding: 4px 0 4px 24px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}



// Navbar

.navbar {
	background-color: rgba(255,255,255,.8);
	-webkit-backdrop-filter: saturate(180%) blur(2px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: .5rem 0;
}

.navbar-brand {
	text-transform: uppercase;
	color: #000;
	font-weight: $font-weight-regular;
	font-size: 18px;
  margin-right: 0;
}

/*.sticky.navbar {
  border-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}*/
.sticky .show-is-sticky,
.sticky .show-not-sticky {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.sticky .show-not-sticky {
  opacity: 1;
  visibility: visible;
  display: inherit;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
/*.sticky.is-sticky.navbar {
  background-color: #4b3968;
}*/
.sticky.is-sticky .show-is-sticky {
  opacity: 1;
  visibility: visible;
  display: inherit;
}
.sticky.is-sticky .show-not-sticky {
  opacity: 0;
  visibility: hidden;
  display: none;
}
