<footer class="container-fluid">
	<div class="container">
		<div class="row">

			<div class="col-sm-12 col-md-5">
				<h2>Praxis</h2>
				<p>{{site.description}}</p>
			</div>

			<div class="col-sm-12 col-md-3 col-md-offset-1">
				<h2>Kontakt</h2>
				
					<p>Tel: <a href="tel:{{site.phone | remove: '(' | remove: ')' | remove: ' ' | remove: '-' | remove: '+' | cgi_escape | prepend: '+49'}}">{{site.phone}}</a></p>
					
					<p>Fax: <a href="tel:{{site.fax | remove: '(' | remove: ')' | remove: ' ' | remove: '-' | remove: '+' | cgi_escape | prepend: '+49'}}">{{site.fax}}</a></p>
					
					<p><a href="https://goo.gl/maps/9VGTpqK8qr92">{{site.address}}</a></p>
				
				
			</div>

			<div class="col-sm-12 col-md-3">
				<h2>Information</h2>
				<a href="#praxis">Praxis</a><br/>
				<a href="#leistungen">Leistungen</a><br/>
				<a href="#team">Team</a><br/>
				<a href="#kontakt">Kontakt</a><br/>

			</div>

		</div>

	</div>
</footer>
