<footer class="container-fluid">
	<div class="container">
		<div class="row">
		<div class="col-sm-6">
			<h2>Kontakt</h2>
			<ul>
				<li>
				<p>Tel: <a href="tel:{{site.phone | remove: '(' | remove: ')' | remove: ' ' | remove: '-' | remove: '+' | cgi_escape | prepend: '+49'}}">{{site.phone}}</a></p>
				</li>
				<li>
				<p>Fax: <a href="tel:{{site.fax | remove: '(' | remove: ')' | remove: ' ' | remove: '-' | remove: '+' | cgi_escape | prepend: '+49'}}">{{site.fax}}</a></p>
				</li>
				<li>
				<p><a href="https://goo.gl/maps/vBPAaTsTLoo">{{site.address}}</a></p>
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
		<h2>Praxis</h2>
		<p>{{site.description}}</p>
		</div>
		</div>
	</div>
</footer>
