<a class="anchor" id="praxis"></a>
<div class="anchor container gallery-container">

    

    <h1>Praxis</h1>
    
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-2.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-2.jpg">
                    </a>
                    <div class="caption">
                        <h3>Eingangsbereich in die Praxis.</h3>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-3.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-3.jpg">
                    </a>
                    <div class="caption">
                        <h3>Wartebereich mit Spielecke.</h3>
                        <!-- <p>Hier .</p> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-1.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-1.jpg">
                    </a>
                    <div class="caption">
                        <h3>Großes Therapiezimmer.</h3>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-6.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-6.jpg">
                    </a>
                    <div class="caption">
                        <h3>Kleines Therapiezimmer.</h3>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-4.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-4.jpg">
                    </a>
                    <div class="caption">
                        <h3>Wir betreuen Patienten aller Altersgruppen. Hier sehen Sie Logopädin und Praxisinhaberin Frau Dörfel während einer Therapiestunde.</h3>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-5.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-5.jpg">
                    </a>
                    <div class="caption">
                        <h3>Eine Therapiestunden mit der Logopädin Frau Blümbott.</h3>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>        

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-7.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-7.jpg">
                    </a>
                    <div class="caption">
                        <h3>Seifenblasen faszinieren nicht nur unsere kleinen Patienten, sondern helfen auch bei der Mundmotorik.</h3>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-8.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-8.jpg">
                    </a>
                    <div class="caption">
                        <h3>Kindgerechte Geschichten sind ein wichtiges Therapieinstrument.</h3>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../img/praxis/logopaedie-9.jpg">
                        <img class="img-fluid" src="../img/praxis/tn-logopaedie-9.jpg">
                    </a>
                    <div class="caption">
                        <h3>Therapieinhalte werden individuell zugeschnitten, damit sich jeder wohlfühlt und optimal gefördert wird.</h3>
                        <!-- <p></p> -->
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>
